LHCb/GaudiObjDesc/xml_files/gdd.dtd

<?xml encoding="UTF-8"?>
<!-- ?xml encoding="ISO-8859-1"? -->
<!ELEMENT gdd ((import*, package+)+)>
<!ATTLIST gdd
        version          CDATA                             "1.0"
>
<!ELEMENT import EMPTY>
<!ATTLIST import
        name             CDATA                             #REQUIRED
        std              (TRUE | FALSE)                    "FALSE"
        soft             (TRUE | FALSE)                    "FALSE"
        ignore           (TRUE | FALSE)                    "FALSE"
>
<!ELEMENT package ((import*, class*, namespace*, assoc*)*)>
<!ATTLIST package
        name             CDATA                             #REQUIRED
>
<!-- ELEMENT class ((class?, ..... -->
<!ELEMENT class ((desc?, base?, import?, location?, enum?, typedef?, constructor?, destructor?, method?, attribute?, relation?, template?)*)>
<!-- candidates 4 deprication: filename, templateVector, templateList, serializers -->
<!ATTLIST class
        name              CDATA                            #REQUIRED
        author            CDATA                            #REQUIRED
        desc              CDATA                            #REQUIRED
        filename          CDATA                            #IMPLIED  
        id                CDATA                            #IMPLIED
        version           CDATA                            #IMPLIED
        location          CDATA                            #IMPLIED
        stdVectorTypeDef  (TRUE | FALSE)                   "FALSE"  
        keyedContTypeDef  (TRUE | FALSE)                   "FALSE"  
	contObjectTypeDef (TRUE | FALSE)                   "FALSE"
        templateVector    (TRUE | FALSE)                   "TRUE"    
        templateList      (TRUE | FALSE)                   "TRUE"    
        serializers       (TRUE | FALSE)                   "TRUE"    
>       
<!ELEMENT desc (#PCDATA)>
<!ATTLIST desc
        xml:space        (default | preserve)              #FIXED "preserve"
>
<!ELEMENT location EMPTY>
<!ATTLIST location
        name             CDATA                             #REQUIRED
        place            CDATA                             #REQUIRED
        noQuote          (TRUE | FALSE)                    "FALSE"
>
<!ELEMENT namespace ((desc?, typedef?, enum?, class?, import?, attribute?, method?)*)>
<!ATTLIST namespace
        name             CDATA                             #REQUIRED
        author           CDATA                             #IMPLIED
        desc             CDATA                             #REQUIRED
>
<!ELEMENT base EMPTY>
<!ATTLIST base
        name             CDATA                             #REQUIRED
        virtual          (TRUE | FALSE)                    "FALSE"
        access           (PUBLIC | PROTECTED | PRIVATE)    "PUBLIC"
>
<!ELEMENT enum EMPTY>
<!ATTLIST enum
        name             CDATA                             #REQUIRED
        desc             CDATA                             #REQUIRED
        value            CDATA                             #REQUIRED
        access           (PUBLIC | PROTECTED | PRIVATE)    "PRIVATE"
>
<!ELEMENT typedef EMPTY>
<!ATTLIST typedef 
        desc             CDATA                             #REQUIRED
        type             CDATA                             #REQUIRED
        def              CDATA                             #REQUIRED
        access           (PUBLIC | PROTECTED | PRIVATE)    "PRIVATE"
>
<!ELEMENT constructor (arg*, code?, arg*)>
<!-- candidates 4 deprication: argInOut -->
<!ATTLIST constructor
        desc             CDATA                             #REQUIRED
        argList          CDATA                             #IMPLIED
        argInOut         CDATA                             #IMPLIED   
        initList         CDATA                             #IMPLIED
        explicit         (TRUE | FALSE)                    "FALSE"
>
<!ELEMENT destructor (arg*, code?, arg*)>
<!-- candidates 4 deprication: argInOut -->
<!ATTLIST destructor
        desc             CDATA                             #REQUIRED
        argList          CDATA                             #IMPLIED
        argInOut         CDATA                             #IMPLIED  
>
<!ELEMENT method ((arg*, return?, arg*, code?, arg*) | (arg*, code?, arg*, return?, arg*))>
<!-- candidates 4 deprication: argInOut -->
<!ATTLIST method
        name             CDATA                             #REQUIRED
        desc             CDATA                             #REQUIRED
        template         CDATA                             #IMPLIED
        access           (PUBLIC | PROTECTED | PRIVATE)    "PUBLIC"
        const            (TRUE | FALSE)                    "FALSE"
        virtual          (TRUE | FALSE | PURE)             "FALSE"
        static           (TRUE | FALSE)                    "FALSE"
        inline           (TRUE | FALSE)                    "FALSE"
        friend           (TRUE | FALSE)                    "FALSE"
        type             CDATA                             "void"
        argList          CDATA                             #IMPLIED
        argInOut         CDATA                             #IMPLIED  
>
<!ELEMENT arg EMPTY>
<!ATTLIST arg
        type             CDATA                             #REQUIRED
        name             CDATA                             #IMPLIED
        const            (TRUE | FALSE)                    "FALSE"
        inout            (BYVALUE | INPUT | INOUT | BOTH)  "INPUT"
>
<!ELEMENT return EMPTY>
<!ATTLIST return
        type             CDATA                             #REQUIRED
        const            (TRUE | FALSE)                    "FALSE"
>
<!ELEMENT code (#PCDATA)>
<!ATTLIST code
        xml:space        (default | preserve)              #FIXED "preserve"
>
<!ELEMENT attribute (bitfield*)>
<!-- candidates 4 deprication: array, serialize -->
<!ATTLIST attribute
        type             CDATA                             #REQUIRED
        name             CDATA                             #REQUIRED
        desc             CDATA                             #REQUIRED
        init             CDATA                             #IMPLIED
        dictalias        CDATA                             #IMPLIED
        array            CDATA                             "FALSE"    
        access           (PUBLIC | PROTECTED | PRIVATE)    "PRIVATE"
        compression      (TRUE | FALSE)                    "TRUE"
        serialize        (TRUE | FALSE)                    "TRUE"     
        setMeth          (TRUE | FALSE)                    "TRUE"
        getMeth          (TRUE | FALSE)                    "TRUE"
        transient        (TRUE | FALSE)                    "FALSE"    
>
<!ELEMENT relation EMPTY>
<!ATTLIST relation
        type             CDATA                             #REQUIRED
        name             CDATA                             #REQUIRED
        desc             CDATA                             #REQUIRED
        access           (PUBLIC | PROTECTED | PRIVATE)    "PRIVATE"
        multiplicity     (1 | N | n | M | m)               "1"
        serialize        (TRUE | FALSE)                    "TRUE"
        setMeth          (TRUE | FALSE)                    "TRUE"
        getMeth          (TRUE | FALSE)                    "TRUE"
        addMeth          (TRUE | FALSE)                    "TRUE"
        remMeth          (TRUE | FALSE)                    "TRUE"
        clrMeth          (TRUE | FALSE)                    "TRUE"
>
<!ELEMENT bitfield EMPTY>
<!ATTLIST bitfield
        name             CDATA                             #REQUIRED
        type             CDATA                             #IMPLIED
        length           CDATA                             #REQUIRED
        desc             CDATA                             #REQUIRED
        startBit         CDATA                             #IMPLIED
        setMeth          (TRUE | FALSE)                    "TRUE"
        getMeth          (TRUE | FALSE)                    "TRUE"
        checkMeth        (TRUE | FALSE)                    "FALSE"
>
<!ELEMENT template EMPTY>
<!ATTLIST template
        name             CDATA                             #REQUIRED
        t1               CDATA                             "THIS"
        t2               CDATA                             #IMPLIED
        t3               CDATA                             #IMPLIED
        t4               CDATA                             #IMPLIED
>

<!ELEMENT assoc EMPTY>
<!ATTLIST assoc
        type             (1D | 2D)                         "1D"
        weight           CDATA                             "NONE"
        from             CDATA                             #REQUIRED
        to               CDATA                             #REQUIRED
>

<!ENTITY KeyedObjectKey 'int'>
<!ENTITY Reference '<template name="SmartRefDict"/>
        <template name="SmartRefVectorDict"/>'
>
<!ENTITY StlVector '<template name="VectorDict" t1="THIS"/>'
>
<!ENTITY StlPtrVector '<template name="VectorDict" t1="THIS*"/>'
>
<!ENTITY DataObject '<template name="SmartRefDict"/>
        <template name="SmartRefVectorDict"/>'
>
<!ENTITY ContainedObject '<template name="SmartRefDict"/>
        <template name="SmartRefVectorDict"/>
        <template name="VectorDict" t1="THIS*"/>
        <template name="ObjectVectorDict"/>'
>
<!ENTITY KeyedContainer '<template name="SmartRefDict"/>
        <template name="SmartRefVectorDict"/>
        <template name="VectorDict" t1="THIS*"/>
        <template name="ObjectVectorDict"/>
        <template name="KeyedContainerDict"/>'
>
<!ENTITY KeyedObject '<template name="KeyedObjectDict" t1="int"/>
        <template name="SmartRefDict"/>
        <template name="SmartRefVectorDict"/>
        <template name="VectorDict" t1="THIS*"/>
        <template name="ObjectVectorDict"/>
        <template name="KeyedContainerDict"/>'
>
